* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.search {
  grid-area: search;
  display: grid;
  grid-template-areas: ".input input button." ".label label . ." ".options options . .";
  grid-template-columns: auto auto minmax(340px, 500px) 50px auto;
  transition: transform 0.25s ease, box-shadow 0.25s ease;
}
@media (width <= 900px) {
  .search {
    flex: 1 0 100%;
  }
}
@media (width >= 900px) {
  .search:hover, .search:focus-within {
    transform: scale(1.1);
  }
}
.search__button, .search__input {
  padding: 10px;
  border: none;
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.3), 0 5px 5px rgba(0, 0, 0, 0.3);
  text-align: center;
  transition: box-shadow 0.25s ease;
}
.search__button {
  grid-area: button;
  border-radius: 0 15px 15px 0;
}
.search__button:hover {
  box-shadow: inset 0 5px 5px rgba(0, 0, 0, 0.3), 0 3px 3px rgba(0, 0, 0, 0.3);
}
.search__input {
  grid-area: input;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 15px 0 0 15px;
}
.search__label {
  grid-area: label;
  padding: 5px;
  font-size: 0.6rem;
  font-style: italic;
  text-align: center;
}
.search__list, .search__list--options {
  display: flex;
  flex-wrap: nowrap;
}
.search__list {
  grid-area: search-location;
}
.search__list--options {
  grid-area: options;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: -1rem;
  width: 100%;
  padding: 5px;
  list-style: none;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
}
.search__list--options:empty {
  display: none;
}

.search__item {
  display: grid;
  grid-template-areas: "city temp icon" "state temp icon" "coordinates conditions conditions";
  grid-template-rows: 22px 20px 20px;
  padding: 5px;
  padding-left: 10px;
  border-radius: 15px;
  text-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.25s ease, text-shadow 0.25s ease, transform 0.25s ease;
}
.search__item:hover {
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  transform: scale(1.1);
}
.search__item .search__desc--city {
  grid-area: city;
  font-size: 1rem;
  font-variant: small-caps;
}
.search__item .search__desc--conditions {
  grid-area: conditions;
  font-size: 0.7rem;
  text-align: center;
}
.search__item .search__desc--stco {
  grid-area: stco;
  font-size: 0.7rem;
}
.search__item .search__desc--coords {
  grid-area: coordinates;
  font-size: 0.7rem;
  font-style: italic;
  font-weight: lighter;
}
.search__item .search__desc--icon {
  grid-area: icon;
  position: relative;
  height: 100%;
  object-fit: contain;
  z-index: -1;
  filter: drop-shadow(0 3px 3px rgba(0, 0, 0, 0.3));
}
.search__item .search__desc--stco {
  grid-area: state;
}
.search__item .search__desc--temp {
  grid-area: temp;
  padding-left: 10px;
  font-size: 2rem;
}

.search__option {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 5px;
  transition: transform 0.25s ease;
}
.search__option:first-of-type {
  border-radius: 10px 10px 0 0;
}
.search__option:last-of-type {
  border-radius: 0 0 10px 10px;
}
.search__option:hover {
  background-color: rgba(255, 255, 255, 0.5);
  transform: scale(1.02);
}
.search__option-desc {
  align-self: center;
  width: 33.3333333333%;
}
.search__option-desc--stco {
  font-size: 0.7rem;
}
.search__option-desc--coords {
  font-size: 0.6rem;
  font-weight: lighter;
  text-align: end;
}

.settings {
  grid-area: settings;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
}
.settings__item {
  margin: 4px;
  border-radius: 15px;
  transition: box-shadow 0.25s ease, text-shadow 0.25s ease, transform 0.25s ease;
}
.settings__item:hover, .settings__item.active:hover {
  transform: scale(1.5);
  text-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}
.settings__item.active {
  transform: scale(1.4);
  text-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}
.settings__item--language {
  width: 15px;
  border-radius: 50%;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}
.settings__list {
  display: flex;
  flex-wrap: nowrap;
  gap: 0.25rem;
  list-style: none;
}
.settings__list--units {
  font-size: 0.7rem;
  font-weight: lighter;
  text-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
}

.page-header {
  padding: 10px;
  font-family: Oswald, sans-serif;
}
@media (width < 900px) {
  .page-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
  }
  .page-header .search {
    flex: 1 0 100%;
  }
}
.page-header__title {
  grid-area: title;
  font-size: 2rem;
  font-weight: lighter;
}

@media (width >= 900px) {
  .page-header {
    display: grid;
    grid-template-areas: "title search settings" "search-location search-location search-location";
    grid-template-columns: 250px auto 250px;
  }
}
.alert {
  padding: 10px;
  width: 100%;
  background-color: rgba(255, 0, 0, 0.6);
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  font-size: 0.7rem;
  text-align: center;
}
.alert__footer {
  font-size: 0.6rem;
  font-weight: lighter;
}

html {
  min-width: 400px;
}

body {
  position: relative;
  background-color: deepskyblue;
  font-family: sans-serif;
  font-size: 88%;
  color: white;
}
body.theme-night {
  background-color: midnightblue;
}

.page-footer {
  padding: 5px;
  font-family: Oswald, sans-serif;
  font-size: 0.7rem;
  text-align: center;
  font-weight: lighter;
}

/***
 * Utility classes
 */
.u-clickable {
  cursor: pointer;
}

.u-current-location .search__desc--coords::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  background-image: url("/assets/images/my-location.webp");
  background-repeat: no-repeat;
  background-size: contain;
}

.u-hide-empty:empty {
  display: none;
}

.card {
  font-family: Oswald, sans-serif;
}
.card__header {
  align-self: flex-start;
}
.card__item--icon {
  filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.3));
}
.card__item--temp {
  font-size: 2rem;
}
.card__item--temp {
  font-size: 2rem;
}
.card__subtitle {
  font-weight: normal;
}
.card__subtitle--date {
  font-size: 1rem;
}
.card__subtitle--day {
  font-size: 0.7rem;
}
.card--time {
  list-style: none;
}

.card--day {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  transition: background-color 0.25s ease, transform 0.25s ease;
}
@media (width < 900px) {
  .card--day {
    flex-flow: column nowrap;
  }
}
@media (width >= 900px) {
  .card--day:not(.active) {
    grid-column: 2;
    flex-flow: column nowrap;
    align-items: center;
  }
  .card--day:not(.active):hover {
    background-color: rgba(255, 255, 255, 0.5);
    transform: scale(1.1);
  }
}
@media (width >= 900px) and (width >= 900px) {
  .card--day:not(.active) .card--time:not(:first-of-type) {
    display: none;
  }
}
@media (width >= 900px) {
  .card--day:not(.active) .card__item--time, .card--day:not(.active) .card__item--wind, .card--day:not(.active) .card__item--humidity, .card--day:not(.active) .card__item--pressure {
    display: none;
  }
  .card--day:not(.active) .card__item--icon {
    height: 50px;
  }
  .card--day.active {
    grid-column: 1;
    grid-row: 4/span 3;
    flex-flow: row wrap;
    transition: none;
    cursor: auto;
  }
  .card--day.active .card--time {
    display: flex;
    flex-flow: column nowrap;
  }
  .card--day.active .card--time:first-of-type {
    display: none;
  }
  .card--day.active .card__header {
    flex: 1 0 100%;
  }
  .card--day.active .card__item--humidity, .card--day.active .card__item--pressure, .card--day.active .card__item--wind {
    position: relative;
    display: inline-block;
    width: auto;
    font-size: 0.7rem;
    font-weight: lighter;
    text-align: end;
  }
  .card--day.active .card__item--humidity::before, .card--day.active .card__item--pressure::before, .card--day.active .card__item--wind::before {
    content: attr(data-label);
    display: inline-block;
    position: absolute;
    left: 0;
    font-weight: normal;
    text-align: start;
  }
  .card--day.active .card__item--temp {
    font-size: 1.5rem;
  }
  .card--day.active .card__subtitle--date {
    font-size: 2rem;
  }
  .card--day.active .card__subtitle--day {
    font-size: 1rem;
  }
}

@media (width < 900px) {
  .card--time {
    display: grid;
    grid-template-columns: 25px 50px repeat(4, 1fr);
    grid-template-rows: 50px;
    align-items: center;
  }
  .card--time:first-of-type {
    display: none;
  }
  .card__item {
    display: inline-block;
    grid-row: 1;
  }
  .card__item--humidity, .card__item--pressure, .card__item--wind {
    position: relative;
    display: inline-block;
    font-weight: lighter;
  }
  .card__item--humidity::before, .card__item--pressure::before, .card__item--wind::before {
    content: attr(data-label);
    display: inline-block;
    font-weight: normal;
    width: 100%;
  }
  .card__item--humidity {
    grid-column: 5;
  }
  .card__item--icon {
    grid-column: 2;
    height: 100%;
    object-fit: contain;
  }
  .card__item--pressure {
    grid-column: 6;
  }
  .card__item--time {
    grid-column: 1;
    width: 25px;
  }
  .card__item--temp {
    grid-column: 3;
    font-size: 1rem;
  }
  .card__item--wind {
    grid-column: 4;
  }
}
.forecast {
  gap: 10px;
  padding: 10px;
}
@media (width >= 900px) {
  .forecast {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto 100px;
    grid-template-rows: repeat(5, 150px) auto;
  }
}
@media (width < 900px) {
  .forecast {
    display: flex;
    flex-flow: column nowrap;
  }
}

.weather {
  grid-column: 1;
  grid-row: 1/span 3;
  display: grid;
  grid-template-areas: "location location time-remote time" "icon temp feels-like ." "icon max . ." "icon min . .";
}
.weather__item {
  font-family: Oswald, sans-serif;
}
.weather__item--location {
  grid-area: location;
  font-size: 3rem;
}
.weather__item--feels-like {
  grid-area: feels-like;
}
.weather__item--humitity {
  grid-area: humidity;
}
.weather__item--icon {
  grid-area: icon;
}
.weather__item--max {
  grid-area: max;
}
.weather__item--min {
  grid-area: min;
}
.weather__item--pressure {
  grid-area: pressure;
}
.weather__item--temp {
  grid-area: temp;
  font-size: 2rem;
}
.weather__item--time .clock__time, .weather__item--time-remote .clock__time {
  font-size: 2rem;
}
.weather__item--time .clock__date, .weather__item--time-remote .clock__date {
  font-size: 1rem;
}
.weather__item--time {
  grid-area: time;
}
.weather__item--time-remote {
  grid-area: time-remote;
}

/*# sourceMappingURL=style.css.map */
