* {
	margin:     0;
	padding:    0;
	box-sizing: border-box;
}

:root {
	--bg-color:              white;
	--border-color:          rgba(0, 0, 0.1);
	--header-bg-color-hover: rgba(100, 100, 150, 0.9);
	--popup-bg-color:        rgba(100, 100, 150, 0.9);
	--popup-bg-color-hover:  rgba(0, 0, 0, 0.3);
}

$header-bg-color:   midnightblue;
$header-font:       Oswald, sans-serif;
$header-text-color: white;
$padding-medium:    10px;
$padding-large:     25px;
$gap-small:         5px;

body {
	position:         relative;

	background-color: midnightblue;
	font-family:      sans-serif;
	font-size:        88%;
}

.page-header {
	display:         flex;
	flex-wrap:       nowrap;
	justify-content: space-between;
	align-items:     center;
	padding:         0 $padding-medium;

	color:           $header-text-color;

	&__title {
		font-family: $header-font;
		font-size:   2rem;
		font-weight: lighter;
	}
}

.settings {
	display:     flex;
	flex-flow:   column nowrap;
	align-items: flex-end;
	padding:     $padding-medium;

	&__list {
		display:    flex;
		flex-wrap:  nowrap;
		list-style: none;
		gap:        .25rem;

		&--language {}

		&--units {}
	}

	&__item {
		margin:        .25rem;
		border-radius: 1rem;

		transition:    transform .25s ease;

		&:hover {
			cursor:    pointer;
			transform: scale(1.75);
		}

		&.active {
			transform: scale(1.5);
		}

		&--language {
			width:  1rem;
			height: 1rem;
		}
	}
}


.search {
	//display: none;
}

.alert {

}

.forecast {
	position:        relative;
	display:         flex;
	gap:             1rem;
	flex-flow:       column;
	align-items:     flex-end;
	justify-content: center;
	height:          100vh;
	padding:         1rem;
}

.weather {
	position: absolute;
	top:      0;
	left:     0;
	width:    100%;
	height:   100vh;
	padding:  $padding-large;
	z-index:  1;

	color:    white;

	&__item {

		&::before {
			display: inline-block;
			content: attr(data-label);
		}

		&--location {
			font-family: $header-font;
			font-size:   3rem;
		}
	}
}

.card {
	display:       flex;
	width:         15rem;

	border-radius: 1rem;

	&__header {
		font-style: italic;
		padding:    .5rem;
	}

	&__item {
		&--humidity,
		&--pressure,
		&--time,
		&--wind {display: none;}

		&--temp {font-size: 2rem;}
	}

	&--day {
		z-index:          2;
		flex-flow:        column-reverse nowrap;

		color:            white;
		background-color: rgba(0, 0, 0, 0.3);
		border:           1px solid rgba(0, 0, 0, 0.1);
		box-shadow:       5px 5px 5px rgba(0, 0, 0, 0.5);

		transition:       transform .25s ease, background-color .25s ease, box-shadow .25s ease;

		&:hover {
			z-index:          3;

			transform:        scale(1.1);
			background-color: rgba(255, 255, 255, 0.3);
			box-shadow:       0px 5px 15px rgba(0, 0, 0, 0.3);

			cursor:           pointer;
		}
	}

	&--time {
		display:     flex;
		flex-flow:   row-reverse nowrap;
		align-items: center;
		list-style:  none;

		&:not(:first-of-type) {display: none;}

		&:first-of-type {
		}
	}
}


//.page-header {
//	display:          flex;
//	flex-wrap:        wrap;
//	justify-content:  space-between;
//
//	background-color: $header-bg-color;
//	color:            $header-text-color;
//
//	&__title {
//		flex:        1 1 50%;
//		padding:     1rem;
//
//		font-family: Oswald, sans-serif;
//		font-size:   2rem;
//		font-style:  italic;
//		font-weight: lighter;
//	}
//}
//
//.alert {
//	position:         relative;
//	top:              -2rem;
//	width:            100%;
//	padding:          .5rem;
//
//	background-color: red;
//
//	transition:       top .5s ease;
//
//	&.active {
//		top: 0;
//	}
//
//	&__message {
//		width:      auto;
//		text-align: center;
//	}
//}
//
//
//.search {
//	display:       flex;
//	flex-flow:     column nowrap;
//	align-items:   center;
//	justify-items: center;
//	width:         100%;
//	margin:        auto;
//
//	&__button {
//		padding:       .25rem .5rem;
//		border:        1px solid black;
//		border-radius: 0 1rem 1rem 0;
//
//		&:hover {
//			cursor: pointer;
//		}
//	}
//
//	&__container {
//		display:   flex;
//		flex-flow: row wrap;
//		border:    none;
//		width:     20rem;
//		padding:   1rem;
//	}
//
//	&__description {
//		&--city {
//			width:       100%;
//
//			font-size:   1rem;
//			font-weight: bold;
//		}
//
//		&--stco,
//		&--coords {
//			font-size:   .7rem;
//			font-weight: lighter;
//		}
//	}
//
//	&__input {
//		padding:       .25rem .75rem;
//		border:        1px solid black;
//		border-right:  0;
//		border-radius: 1rem 0 0 1rem;
//		width: 15rem;
//
//		font-size:     1.2rem;
//	}
//
//	&__item {
//		display:          flex;
//		flex-flow:        row wrap;
//		gap:              .5rem;
//		align-items:      center;
//		width:            10rem;
//
//		padding:          .5rem;
//
//		background-color: rgba(0, 0, 0, .1);
//		border:           1px solid white;
//
//		&:hover {
//			background-color: rgba(255,255,255,0.2);
//			cursor: pointer;
//		}
//	}
//
//	&__label {
//		display:     inline-block;
//		margin-left: 1rem;
//		padding:     .25rem;
//		font-size:   .7rem;
//	}
//
//	&__list--location {
//		display:          flex;
//		flex-flow:        row wrap;
//		background-color: rgba(0, 0, 0, .1);
//		list-style:       none;
//		width:            100%;
//	}
//}
//
//.forecast {
//	display:   flex;
//	flex-flow: row wrap;
//
//	gap:       .5rem;
//}
//
//.weather {
//	display:    flex;
//	flex-flow:  row wrap;
//	flex-basis: 100%;
//}
//
//.card {
//	display:          flex;
//	flex:             1 1 calc(20% - 1rem);
//	flex-flow:        column;
//	width:            20%;
//	list-style:       none;
//
//	background-color: skyblue;
//
//	&--time:not(:first-of-type) {
//		display: none;
//	}
//	&__item::before {
//		display: inline-block;
//		content: attr(data-label);
//	}
//}
