* {
	margin:     0;
	padding:    0;
	box-sizing: border-box;
}

:root {
	--bg-color:             white;
	--border-color:         rgba(0, 0, 0.1);
	--header-bg-color:      darkblue;
	--header-bg-color-hover: rgba(100, 100, 150, 0.9);
	--header-color:         white;
	--popup-bg-color:       rgba(100, 100, 150, 0.9);
	--popup-bg-color-hover: rgba(0, 0, 0, 0.3);
}

body {
	font-family: Oswald, Poppins, sans-serif;
	font-size:   88%;
}

main {
	display: flex;
	gap:     1em;
}

header {
	display:          flex;
	flex-flow:        row nowrap;
	align-items:      center;
	gap:              1rem;

	padding:          1rem;
	background-color: var(--header-bg-color);
	color:            var(--header-color);
}

footer {
	height: 10rem;
}

.location {
	display:   flex;
	flex-wrap: nowrap;
	gap:       2rem;

	&__search-container {
		position:    relative;
		display:     flex;
		flex-flow:   column nowrap;
		align-items: center;
		gap:         .1rem;

		border:      none;
	}

	&__search {
		display:   flex;
		flex-wrap: nowrap;

		&__label {
			font-size:      0.5rem;
			letter-spacing: .03rem;
		}

		&__input {
			font-size: 0.7rem;
			padding:   .25rem;
			height:    1.5rem;
		}

		&__button {height: 1.5rem;}
	}

	&__list {
		display:    flex;
		flex-wrap:  nowrap;
		list-style: none;

		&__item {
			display:       flex;
			flex-flow:     column nowrap;
			padding:       .25rem;

			border-radius: .5rem;

			&:hover {
				cursor:           pointer;
				background-color: var(--header-bg-color-hover);
			}

			&__city {}

			&__stco,
			&__coords {
				margin-left: .25rem;
				font-size:   0.7rem;
				font-style:  italic;
			}
		}
	}

	&__listOptions {
		position:         absolute;
		top:              1.65rem;
		left:             0;
		width:            100%;
		padding:          .25rem;

		z-index:          2;
		list-style:       none;

		background-color: var(--popup-bg-color);
		border-radius:    0 0 .5rem .5rem;
		box-shadow:       0 2.5px 5px var(--border-color);

		&:empty {display: none;}

		&__option {
			display:       flex;
			flex-flow:     column nowrap;
			padding:       .25rem;

			border-radius: .5rem;

			&:hover {
				cursor:           pointer;
				background-color: var(--popup-bg-color-hover);
			}

			&__city {}

			&__stco,
			&__coords {
				margin-left: .25rem;
				font-size:   0.7rem;
				font-style:  italic;
			}

		}
	}
}

.weather {
	&__conditions {
		&__temp {}
		&__feelsLike {}
		&__max {}
		&__min {}
		&__humidity {}
		&__wind {}
		&__pressure {}
		&__visibility {}
	}
	&__location {}
}

.hideEmpty:empty {
	display: none;
}

//.location {
//	padding: 1rem;
//
//	&__list {
//		display:    flex;
//		flex-flow:  column nowrap;
//		gap:        .5rem;
//		padding:    .5rem;
//		list-style: none;
//
//		&__place {
//			padding:       .5rem;
//			border:        1px solid rgba(0, 0, 0, 0.5);
//			border-radius: .5rem;
//
//			&:hover {
//				cursor: pointer;
//			}
//		}
//	}
//
//	&__search {
//		padding: .5rem;
//
//		&__button,
//		&__input,
//		&__label {
//			padding: .25rem;
//		}
//
//		&__button {
//			border-radius: 0 1rem 1rem 0;
//		}
//
//		&__input {
//			border-radius: 1rem 0 0 1rem;
//		}
//	}
//}
//
//.weather {
//	display:         flex;
//	flex-flow:       row wrap;
//	justify-content: space-between;
//	gap:             10px;
//	width:           800px;
//}
//
//.card {
//	&__item {
//		width:           100%;
//		display:         flex;
//		flex-flow:       row nowrap;
//		justify-content: space-between;
//
//		&__data,
//		&__label {
//			display:   block;
//			width:     auto;
//			font-size: 0.7rem;
//		}
//	}
//}
//
//.dayCard {
//	display:          flex;
//	flex-flow:        column nowrap;
//	gap:              1rem;
//	padding:          0.5rem;
//	min-width:        19%;
//	box-sizing:       border-box;
//
//	background-image: linear-gradient(to bottom, #0000C8 0%, #000064 100%);
//	border:           1px solid rgba(0, 0, 0, 0.25);
//	border-radius:    5px;
//
//	color:            white;
//
//	&__header {
//		&__location {display: none;}
//	}
//
//	&__weather {
//		display:       flex;
//		flex-flow:     column nowrap;
//		gap:           1rem;
//		margin-bottom: 1rem;
//	}
//
//	&:first-of-type {
//		display:         flex;
//		flex-flow:       row nowrap;
//		justify-content: space-between;
//		width:           100%;
//		height:          300px;
//
//		.dayCard__header,
//		.dayCard__weather {
//			display:   flex;
//			flex-flow: column wrap;
//			height:    100%;
//		}
//
//		.dayCard__weather {
//			padding: 1rem;
//
//			.card__item {
//				width: 8rem;
//			}
//		}
//
//		.dayCard__header {
//			justify-content: flex-end;
//
//			&__location {
//				display:       block;
//				margin-bottom: auto;
//				font-size:     2.5rem;
//			}
//
//			&__date {font-size: 2rem;}
//
//			&__day {font-size: 1.5rem;}
//		}
//
//		.timeCard {
//			align-self: flex-end;
//		}
//	}
//
//	&__header {
//		&__date {
//			font-weight: bold;
//		}
//	}
//}
//
//.timeCard {
//	display:      flex;
//	flex-flow:    column nowrap;
//	align-items:  flex-end;
//	list-style:   none;
//	font-variant: small-caps;
//
//	&__time {
//		align-self:    flex-start;
//		font-weight:   bold;
//		border-bottom: 1px solid rgba(255, 255, 255, 0.25);
//		width:         100%;
//	}
//
//}
