@use "../values";

html {min-width: 400px;}

body {
	position:         relative;

	background-color: values.$color-bg-main-day;
	font-family:      sans-serif;
	font-size:        88%;

	color:            values.$color-text;

	&.theme-night {background-color: values.$color-bg-main-night;}
}

.page-footer {
	padding:     values.$size-small;
	font-family: values.$font-main;
	font-size:   values.$font-size-small;
	text-align:  center;
	font-weight: lighter;
}

/***
 * Utility classes
 */
.u-clickable {
	cursor: pointer;
}

.u-current-location {
	.search__desc--coords::before {
		content:           "";
		display:           inline-block;
		width:             10px;
		height:            10px;

		background-image:  url("/assets/images/my-location.webp");
		background-repeat: no-repeat;
		background-size:   contain;
	}
}

.u-hide-empty:empty {
	display: none;
}
