@use "../values";

// Set a minimum width of 400px for the website.
html { min-width: 400px; }

body {
	position:         relative;

	font-family:      sans-serif;
	font-size:        88%;

	background-color: values.$color-bg-main-day;
	color:            values.$color-text;
	transition:       values.$transition-bg-color-long;

	// Create the night theme for the site's background.
	&.theme-night { background-color: values.$color-bg-main-night; }
}

// Page footer isn't big enough to separate.
.page-footer {
	padding:     values.$size-small;
	font-family: values.$font-main;
	font-size:   values.$font-size-small;
	text-align:  center;
	font-weight: lighter;
}

/***
 * Utility classes
 */
.u-clickable { cursor: pointer; }

// The current location target icon
.u-current-location {
	.search__desc--coords::before {
		content:           "";
		display:           inline-block;
		width:             10px;
		height:            10px;

		background-image:  url("/assets/images/my-location.webp");
		background-repeat: no-repeat;
		background-size:   contain;
	}
}

// Hide empty elements
.u-hide-empty:empty { display: none; }
