@use "../values";

// Cards (Day & Time)
.card {
	font-family: values.$font-main;

	// Day Card Header
	&__header { align-self: flex-start; }

	// Temperature and icon elements
	&__item {
		&--icon { filter: drop-shadow(values.$shadow-medium); }
		&--temp { font-size: values.$font-size-large; }
	}

	// Day title headings
	&__subtitle {
		font-weight: normal;

		// Date and day
		&--date { font-size: values.$font-size-medium; }
		&--day { font-size: values.$font-size-small; }
	}

	// Time Card
	&--time {
		list-style: none;
	}
}

// Day Cards
.card--day {
	display:          flex;

	// Mobile screen size
	@media (width < values.$media-desktop) { flex-flow: column nowrap; }

	justify-content:  space-evenly;

	padding:          values.$size-medium;
	background-color: values.$color-bg-light;
	border:           values.$border;
	border-radius:    values.$border-radius-medium;
	box-shadow:       values.$shadow-medium;

	transition:       values.$transition-bg-color, values.$transition-transform;

	// When screen size is larger than desktop
	@media (width >= values.$media-desktop) {
		// The non-active cards.
		&:not(.active) {
			grid-column: 2;

			flex-flow:   column nowrap;
			align-items: center;

			&:hover {
				background-color: values.$color-bg-hover;
				transform:        scale(1.1);
			}
			// Desktop screen size
			@media (width >= values.$media-desktop) {
				// Hide all the forecast information except the average information (first array item of each day).
				.card--time:not(:first-of-type) { display: none; }
			}

			// Hide everything except the date information and icon
			.card__item {
				&--humidity,
				&--pressure,
				&--time,
				&--wind { display: none; }

				&--icon {
					height: 50px;
				}
			}
		}

		// The active card.
		&.active {
			grid-column: 1;
			grid-row:    4 / span 3;

			flex-flow:   row wrap;

			transition:  none;
			cursor:      auto;

			// Hide the average.
			.card--time {
				display:   flex;
				flex-flow: column nowrap;

				&:first-of-type { display: none; }
			}

			// Keep the card header at maximum length
			.card__header { flex: 1 0 100%; }

			// Elements within the active card
			.card__item {
				&--humidity,
				&--pressure,
				&--wind {
					position:    relative;
					display:     inline-block;
					width:       auto;

					font-size:   values.$font-size-small;
					font-weight: lighter;
					text-align:  end;

					// Add a label to humidity, pressure, and wind
					&::before {
						content:     attr(data-label);
						display:     inline-block;
						position:    absolute;
						left:        0;

						font-weight: normal;
						text-align:  start;
					}
				}
				// Temperature
				&--temp { font-size: values.$font-size-medium-large; }
			}

			// Title heading to the day card
			.card__subtitle {
				// Date and day
				&--date { font-size: values.$font-size-large; }
				&--day { font-size: values.$font-size-medium; }
			}
		}
	}
}

// Time Block items when screen size is smaller than desktop
@media (width < values.$media-desktop) {
	// Time blocks
	.card--time {
		display:               grid;
		grid-template-columns: values.$size-large values.$size-xlarge repeat(4, 1fr);
		grid-template-rows:    values.$size-xlarge;
		align-items:           center;

		// Don't show the first one (averages)
		&:first-of-type { display: none; }
	}
	// Each element within the time blocks
	.card__item {
		display:  inline-block;
		grid-row: 1;

		// Humidity, pressure, wind
		&--humidity,
		&--pressure,
		&--wind {
			position:    relative;
			display:     inline-block;
			font-weight: lighter;

			// Add a label to humidity, pressure, and wind
			&::before {
				content:     attr(data-label);
				display:     inline-block;

				font-weight: normal;
				width:       100%;
			}
		}

		// Humidity
		&--humidity { grid-column: 5; }

		// Icon
		&--icon {
			grid-column: 2;
			height:      100%;
			object-fit:  contain;
		}
		// Pressure
		&--pressure { grid-column: 6; }

		// Time
		&--time {
			grid-column: 1;
			width:       values.$size-large;
		}

		// Temperature
		&--temp {
			grid-column: 3;
			font-size:   values.$font-size-medium;
		}

		// Wind
		&--wind { grid-column: 4; }
	}
}

// Forecast Element
.forecast {
	// Desktop screen size, use a grid
	@media (width >= values.$media-desktop) {
		display:               grid;
		grid-auto-flow:        column;
		grid-template-columns: auto 100px;
		grid-template-rows:    repeat(5, 150px) auto;
	}
	// Mobile screen size, use a flexbox
	@media (width < values.$media-desktop) {
		display:   flex;
		flex-flow: column nowrap;
	}

	gap:     values.$size-medium;
	padding: values.$size-medium;
}

// Weather Element
.weather {
	grid-column:           1;
	grid-row:              1 / span 3;

	display:               grid;
	grid-template-areas:
		". location location general ."
		". time . temp ."
		". time . detail .";

	grid-template-columns: auto auto auto 150px auto;
	font-family:           values.$font-main;

	// Detailed statistics
	&__detailed-conditions {grid-area: detail;}

	// Icon and description
	&__general-conditions {
		grid-area:   general;
		display:     flex;
		flex-flow:   column nowrap;
		align-items: center;
	}

	// Humidity, Pressure, Wind, Visibility
	&__detailed-conditions,
	&__temperature-information {
		display:   flex;
		flex-flow: column nowrap;

		font-size: values.$font-size-medium-small;

		// Each element
		.weather__item {
			position: relative;
			display:  inline-block;
			width:    auto;

			// Everything except the temperature
			&:not(&--temp) {
				font-weight: lighter;
				text-align:  end;
			}

			// Add labels to everything except empty elements and the temperature
			&:not(:empty,&--temp)::before {
				content:     attr(data-label);
				display:     inline-block;
				position:    absolute;
				left:        0;

				font-size:   values.$font-size-small;
				font-weight: normal;
			}
		}
	}

	// Location Header
	&__location {
		grid-area: location;
		display:   flex;

		// Location Container
		&-container {
			display:   flex;
			flex-flow: column nowrap;
			width:     auto;
			height:    100%;

			// Desktop screen size
			@media (width >= values.$media-desktop) { justify-content: flex-start; }
			// Mobile screen size
			@media (width < values.$media-desktop) { justify-content: space-between; }
		}

		// Location elements
		.weather__item {
			// City
			&--city { font-size: values.$font-size-xlarge; }
			// State, Country
			&--stco {
				font-size:      values.$font-size-medium;
				text-align:     end;
				text-transform: uppercase;
			}
			// Coordinates
			&--coords {
				font-size:   values.$font-size-small;
				font-weight: lighter;
				text-align:  end;
			}
		}
	}

	// Temperature Information
	&__temperature-information {grid-area: temp;}

	// Container: Time information
	&__time-information {
		grid-area: time;

		display:   flex;
		flex-flow: column;
		gap:       values.$size-small;

		// Clock
		.weather__item {
			padding:          values.$size-medium;

			background-color: values.$color-bg-dark;
			border-radius:    values.$border-radius-medium;
			box-shadow:       values.$shadow-small;

			// Label Content
			&::before { content: attr(data-label); }

			// Clock Time
			.clock__time {
				font-size:    values.$font-size-large;
				font-variant: small-caps;
			}
			// Clock Date
			.clock__date { font-size: values.$font-size-medium; }
		}
	}

	&__item {
		&--icon { height: 100px; }
		&--temp { font-size: values.$font-size-xlarge; }
	}
}
