@use "../values";
@use "search";
@use "settings";

// Page Header
.page-header {

	// Mobile Screen Size
	@media (width < values.$media-desktop) {
		display:         flex;
		flex-wrap:       wrap;
		justify-content: space-between;
		gap:             values.$size-medium;

		// Keep the search field at a maximum width
		.search { flex: 1 0 100%; }
	}
	// Desktop Screen Size
	@media (width >= values.$media-desktop) {
		display:               grid;
		gap:                   values.$size-small;

		grid-template-areas:
			"title search settings"
			"search-location search-location search-location"
			". alert .";
		grid-template-columns: 250px auto 250px;
	}

	padding:     values.$size-medium;
	font-family: values.$font-main;

	// Title Heading
	&__title {
		grid-area:   title;

		font-size:   values.$font-size-large;
		font-weight: lighter;
	}
}

// Alert Warning Box
.alert {
	grid-area:        alert;
	padding:          values.$size-medium;
	align-self:       center;
	margin:           0 auto;
	width:            100%;
	clear:            both;

	background-color: values.$color-bg-alert;
	border:           values.$border;
	box-shadow:       values.$shadow-medium;
	cursor:           pointer;

	font-size:        values.$font-size-small;
	text-align:       center;

	// Footer (message to let user know they can click to close).
	&__footer {
		font-size:   values.$font-size-tiny;
		font-weight: lighter;
	}
}