@use "../values";
@use "search";
@use "settings";

.page-header {
	@media (width < values.$media-desktop) {
		display:         flex;
		flex-wrap:       wrap;
		justify-content: space-between;
		gap:             values.$size-medium;

		.search {flex: 1 0 100%;}
	}

	padding:     values.$size-medium;
	font-family: values.$font-main;

	&__title {
		grid-area:   title;
		font-size:   values.$font-size-large;
		font-weight: lighter;
	}
}

@media (width >= values.$media-desktop) {
	.page-header {
		display:               grid;
		gap: values.$size-small;

		grid-template-areas:
			"title search settings"
			"search-location search-location search-location"
			". alert .";
		grid-template-columns: 250px auto 250px;
	}
}

.alert {
	grid-area:        alert;
	padding:          values.$size-medium;
	align-self:       center;
	margin:           0 auto;
	width:            100%;
	clear:            both;

	background-color: values.$color-bg-alert;
	border:           values.$border;
	box-shadow:       values.$shadow-medium;
	cursor:           pointer;

	font-size:        values.$font-size-small;
	text-align:       center;

	&__footer {
		font-size:   values.$font-size-tiny;
		font-weight: lighter;
	}
}