@use "../values";

// Location Search Box
.search {
	grid-area:             search;
	display:               grid;

	@media (width <= values.$media-desktop) {
		flex: 1 0 100%;
	}

	grid-template-areas:
		"input input button"
		"label label . "
		"options options .";
	grid-template-columns: auto auto 50px;

	// Set the transition time for transformations.
	transition:            values.$transition-transform, values.$transition-box-shadow;

	// On hover, and descendant focus: scale the form.
	&:hover,
	&:focus-within {
		transform: scale(1.1);
	}

	&__button,
	&__input {
		padding:    values.$padding-medium;
		border:     none;

		box-shadow: inset values.$shadow-none, values.$shadow-medium;
		text-align: center;

		transition: values.$transition-box-shadow;
	}

	// The Go button
	&__button {
		grid-area:     button;

		border-radius: 0 values.$border-radius-large values.$border-radius-large 0;

		&:hover {box-shadow: inset values.$shadow-medium, values.$shadow-small;}
	}

	// The search field
	&__input {
		grid-area:     input;

		border-right:  values.$border;
		border-radius: values.$border-radius-large 0 0 values.$border-radius-large;
	}

	// The input label (city, state, zip...)
	&__label {
		grid-area:  label;

		padding:    values.$padding-small;
		font-size:  values.$font-size-tiny;
		font-style: italic;
		text-align: center;
	}

	&__list,
	&__list--options {
		display:   flex;
		flex-wrap: nowrap;
	}

	// Location history list
	&__list {
		grid-area: search-location;
	}

	// Multiple-choice location options list
	&__list--options {
		grid-area:        options;

		display:          flex;
		flex-direction:   column;
		position:         absolute;
		top:              -1rem;
		width:            100%;
		// TODO: Figure out why this z-index isn't working.
		padding:          values.$padding-small;
		z-index:          2;

		list-style:       none;
		background-color: values.$color-bg-dark;
		border-radius:    values.$border-radius-medium;
		box-shadow:       values.$shadow-large;

		&:empty {display: none;}
	}
}

// Location history list item
.search__item {
	display:            grid;

	grid-template-areas:
        "city temp icon"
        "state temp icon"
        "coordinates conditions conditions";

	grid-template-rows: 22px 20px 20px;
	padding:            values.$padding-small;
	padding-left:       values.$padding-medium;

	border-radius:      values.$border-radius-large;
	text-shadow:        values.$shadow-small;
	transition:         values.$transition-transform,
	                    values.$transition-box-shadow,
	                    values.$transition-text-shadow;

	.search__desc {
		&--city {
			grid-area: city;
		}

		&--conditions {
			grid-area: conditions;
		}

		&--stco {
			grid-area: stco;
		}

		&--coords {
			grid-area: coords;
		}

		&--icon {
			grid-area: icon;
			z-index:   -1; // Fixes jumping through .search_options

		}

		&--temp {
			grid-area: temp;
		}
	}
}

// Multiple-choice location option
.search__option {
	display:         flex;
	flex-wrap:       nowrap;
	justify-content: space-between;
	padding:         values.$padding-small;

	transition:      values.$transition-transform;

	// First list item: top 2 borders round
	&:first-of-type {
		border-radius: values.$border-radius-medium values.$border-radius-medium 0 0;
	}

	// Last list item: buttom 2 borders round
	&:last-of-type {
		border-radius: 0 0 values.$border-radius-medium values.$border-radius-medium;
	}

	// When each list item is hovered over.
	&:hover {
		background-color: values.$hover-bg-color;
		transform:        scale(1.02);
	}

	// Location option fields
	&-desc {
		align-self: center;
		width:      calc(100% / 3);

		&--city {}

		&--stco {
			font-size: values.$font-size-small;
		}

		&--coords {
			font-size:   values.$font-size-tiny;
			font-weight: lighter;
			text-align:  end;
		}
	}
}