@use "../values";

// Location Search Box
.search {
	grid-area:             search;
	display:               grid;
	position:              relative;

	@media (width <= values.$media-desktop) {
		flex: 1 0 100%;
	}

	grid-template-areas:
		".input input button."
		".label label . ."
		".options options . .";

	grid-template-columns: auto auto minmax(340px, 500px) values.$size-xlarge auto;

	// Set the transition time for transformations.
	transition:            values.$transition-transform, values.$transition-box-shadow;

	// On hover, and descendant focus: scale the form.
	@media (width >= values.$media-desktop) {
		&:hover,
		&:focus-within {
			transform: scale(1.1);
		}
	}

	&__button,
	&__input {
		padding:    values.$size-medium;

		border:     none;
		box-shadow: inset values.$shadow-none, values.$shadow-medium;
		text-align: center;

		transition: values.$transition-box-shadow;
	}

	// The Go button
	&__button {
		grid-area:     button;

		border-radius: 0 values.$border-radius-large values.$border-radius-large 0;

		&:hover {box-shadow: inset values.$shadow-medium, values.$shadow-small;}
	}

	// The search field
	&__input {
		grid-area:     input;

		border-right:  values.$border;
		border-radius: values.$border-radius-large 0 0 values.$border-radius-large;
	}

	// The input label (city, state, zip...)
	&__label {
		grid-area:  label;

		padding:    values.$size-small;
		font-size:  values.$font-size-tiny;
		font-style: italic;
		text-align: center;
	}

	&__list,
	&__list--options {
		display: flex;

		@media (width >= values.$media-desktop) {
			flex-wrap: nowrap;
		}
		@media (width < values.$media-desktop) {
			flex-wrap: wrap;
		}
	}

	// Location history list
	&__list {
		grid-area:        search-location;
		width:            100%;

		background-color: values.$color-bg-light;
		border-radius:    values.$border-radius-medium;
	}

	// Multiple-choice location options list
	&__list--options {
		grid-area:        options;

		display:          flex;
		flex-direction:   column;
		position:         absolute;
		top:              -1rem;
		width:            100%;
		z-index: 1;

		padding:          values.$size-small;

		list-style:       none;
		background-color: values.$color-bg-dark;
		border-radius:    values.$border-radius-medium;
		box-shadow:       values.$shadow-large;

		&:empty {display: none;}
	}
}

// Location history list item
.search__item {
	display:            grid;

	grid-template-areas:
        "city temp icon"
        "state temp icon"
        "coordinates conditions conditions";

	grid-template-rows: 22px 20px 20px;
	padding:            values.$size-small;
	padding-left:       values.$size-medium;

	@media (width < values.$media-desktop) {
		width: 50%;
	}

	border-radius:      values.$border-radius-large;
	text-shadow:        values.$shadow-small;
	transition:         values.$transition-box-shadow,
	                    values.$transition-text-shadow,
	                    values.$transition-transform;

	&:hover {
		background-color: values.$color-bg-hover;
		box-shadow:       values.$shadow-medium;
		transform:        scale(1.1);
	}

	// List item fields
	.search__desc {
		&--city {
			grid-area:    city;
			font-size:    values.$font-size-medium;
			font-variant: small-caps;
		}

		&--conditions {
			grid-area:  conditions;
			font-size:  values.$font-size-small;
			text-align: center;
		}

		&--stco {
			grid-area: stco;
			font-size: values.$font-size-small;
		}

		&--coords {
			grid-area:   coordinates;
			font-size:   values.$font-size-small;
			font-style:  italic;
			font-weight: lighter;
		}

		&--icon {
			grid-area:  icon;
			position:   relative;
			height:     100%;
			object-fit: contain;

			filter:     drop-shadow(values.$shadow-small);
		}

		&--stco {
			grid-area: state;
		}

		&--temp {
			grid-area:    temp;
			padding-left: values.$size-medium;

			font-size:    values.$font-size-large;
		}
	}
}

// Multiple-choice location option
.search__option {
	display:         flex;
	flex-wrap:       nowrap;
	justify-content: space-between;
	padding:         values.$size-small;

	transition:      values.$transition-transform;

	// First list item: top 2 borders round
	&:first-of-type {
		border-radius: values.$border-radius-medium values.$border-radius-medium 0 0;
	}

	// Last list item: button 2 borders round
	&:last-of-type {
		border-radius: 0 0 values.$border-radius-medium values.$border-radius-medium;
	}

	// When each list item is hovered over.
	&:hover {
		background-color: values.$color-bg-hover;
		transform:        scale(1.02);
	}

	// Location option fields
	&-desc {
		align-self: center;
		width:      calc(100% / 3);

		&--city {}

		&--stco {
			font-size: values.$font-size-small;
		}

		&--coords {
			font-size:   values.$font-size-tiny;
			font-weight: lighter;
			text-align:  end;
		}
	}
}