@use "../values";

// Settings Lists
.settings {
	grid-area:   settings;
	display:     flex;
	flex-flow:   column nowrap;
	align-items: flex-end;

	// Items for Language and Measurement Units Lists
	&__item {
		margin:        values.$size-xsmall;
		border-radius: values.$border-radius-large;

		transition:    values.$transition-box-shadow,
		               values.$transition-text-shadow,
		               values.$transition-transform;

		// On hover, scale and change shadow
		&:hover,
		&.active:hover {
			transform:   scale(1.5);
			text-shadow: values.$shadow-medium;
		}

		// Make the active item bigger
		&.active {
			transform:   scale(1.4);
			text-shadow: values.$shadow-medium;
		}

		&--language {
			width:         values.$size-medium-large;
			border-radius: 50%;
			box-shadow:    values.$shadow-medium;
		}
	}

	// Language and Measurement Units Lists
	&__list {
		display:    flex;
		flex-wrap:  nowrap;
		gap:        .25rem;
		list-style: none;

		// Language Selection
		&--language {}

		// Measurement Unit Selection
		&--units {
			font-size:   values.$font-size-small;
			font-weight: lighter;
			text-shadow: values.$shadow-small;
		}
	}
}
